/*** Estilos generales ***/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body{
   
    background: rgb(57,62,70);
    background: radial-gradient(circle, rgba(57,62,70,1) 16%, rgba(34,40,49,1) 73%);
    color: #FFD369;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}
/****************************************************************************************************************************************/

/*** Header ***/
.header{
    background-color: #393E46;   
} 
.navbar{
    background-color: #393E46;   
}

.titleNav{
    color: #FFD369;;
}

.nav{
    height: 100%;
}
.textNav{
    color: #d7dadd;
    text-decoration: none;
}  

/******************************************************************************************************************************************/

/*** Main ***/
.main{
    margin-top: 10px;
}
/********************************************************************************************************************************************/

/*** Section About ***/
.imgPerfil{
    border-radius: 50% 10%;
	background-image: var(--img-url), linear-gradient(to bottom left, #f83600, #f9d423);
    width: 336px;
    height: 386px;
    flex-shrink: 0;
	margin: 20px;
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgb(238, 238, 238);
}
.contAbout{
    margin-top: 100px;
}
.textAbout{
    color: #EEEEEE;
}
.titleAbout{
    font-size: 3rem;
}
.conContactos{
    margin-top: 50px;
}
.conContactos button{
    border-radius: 9999px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;   
}
.btnCV{
    background-color:#393E46;
 color: #FFFFFF;
}
.btnLinkedin{
 background-color:#0a66c2;
 color: #FFFFFF;
}
.btnContacto{
    background-color: #000000;
    color:#FFFFFF ;
}
.btnGitHub{
    background-color: #1f2328;
    color: #FFFFFF;
}

/********************************************************************************************************************************************************************/


/*** Section Proyectos ***/

.proyectos{
    margin-top: 150px;
}

.cardProyectos{
    background-color: #393E46;
    margin-bottom: 40px;
}


.cardProyectos:hover {
    transform: scale(1.10); /* Puedes ajustar el valor según tus preferencias */
    transition: transform 0.3s ease; /* Puedes ajustar la duración y la función de temporización según tus preferencias */
    box-shadow: 0 4px 8px #FFD369;
  }

.titleCardProyect{
    color: #EEEEEE;
}
.textCardProyect{
    color: #EEEEEE;
}

.linksCardProyect{
    text-decoration: none;
    color: #000000;
}


/*********************************************************************************************************************************/


/*** Section contacto ***/
.contacto{
    margin-top: 150px;
}
.contcamposContactos{
    color: #EEEEEE;
    
}

.logoWhatsapp{
    color: #25d366;
   
}
.logoEmail{
    color: #c71610
}

.logoLinkedin{
    color: #0a66c2;
    padding-bottom: 2px;
}

.btnSendEmail{
    margin-right: 5px;
    border-radius: 30%;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px; 
    background-color: #FFD369; 
}

.btnCopyEmail{
    border-radius: 30%;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px; 
    background-color: #FFD369;
}
/***************************************************************************************************************************************************/

/*** Section Skills ***/

.skills{
    margin-top: 150px;
}

.cardSkills{
    background-color: #393E46;
    transition: background-color 0.3s ease;
    height: 230px;
    margin-bottom: 40px;
    
}

 .cardSkillsFront:hover {
    transform: scale(1.10); 
    transition: transform 0.3s ease; 
    background-color: #3081D0;
    
    
}

.cardSkillsBack:hover {
    transform: scale(1.10); 
    transition: transform 0.3s ease; 
    background-color: #3081D0;
    
} 

.cardSkillsTool:hover{
    transform: scale(1.10); 
    transition: transform 0.3s ease; 
    background-color: #3081D0;
}

  .logoFrontent{
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    
}


  .logoBackend{
    width: 40px;
    height: 40px;
    padding-bottom: 5px;

  }
  .logoTool{
    width: 35px;
    height: 35px;
    padding-bottom: 5px;
   
  }

  .textCardProyect p{
    border-style:ridge;
    border-width: 1px;
    border-radius: 0.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 10px;
    margin-right: 10px;
    border-color: #FFFFFF;
    
}
/******************************************************************************************************************************************/



/*** Footer ***/
.footer{
    margin-top: 150px;
    background-color: #393E46 ;
    height: 150px;
}
.footer p{
    padding-top: 65px;
}
/********************************************************************************************************************************************/

/*** Media Queries ***/

@media (max-width: 768px) {
    .contImgPerfil{
        justify-content: center !important;
    }
    .cardProyectos {
        width: 100%!important;
        
    }
    .cardProyectos:hover {
        transform: scale(1); 
      }
        .cardSkills{
            width: 100%!important;
        }
        .cardSkillsFront:hover {
            transform: scale(1);       
            
        }
        .cardSkillsBack:hover {
            transform: scale(1); 
           
            
        } 
        
        .cardSkillsTool:hover{
            transform: scale(1); 
          
        }
        .textNav{
            margin-left: 0px !important;
        }

}
/*************************************************************************************************/