/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); */

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


body{
    background: rgb(39,45,53);
background: linear-gradient(0deg, rgba(39,45,53,1) 35%, rgba(57,62,70,1) 64%, rgba(34,40,49,1) 84%);
    color: #FFD369;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}



.imgPerfil{
    border-radius: 50% 10%;
	background-image: var(--img-url), linear-gradient(to bottom left, #f83600, #f9d423);
   
    width: 300px;
    height: 350px;
    flex-shrink: 0;
	margin: 20px;
	
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgb(238, 238, 238);
    /* border-radius: 10%;
    border-bottom: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}
.header{
    height: 80px;
    background-color: #393E46;
    
}
.main{
    margin-top: 10px;
}
.footer{
    margin-top: 150px;
    background-color: #393E46 ;
    height: 100px;
}
.footer p{
    padding-top: 40px;
}
.nav{
    height: 100%;
}
.textNav{
    
    padding-top: 10px;
    
}


.menu-desplegable {
    
    position: absolute;
    top: 50px; /* Ajusta según sea necesario */
    right: auto;
    padding-top: 10px;
    z-index: 100;
}
 

.menu-desplegable p:hover{
    cursor: pointer;
}

.menu-desplegable a {
    text-decoration: none;
    color: #FFD369;
    font-size: larger;
}

.iconoMenu:hover{
    cursor: pointer;
}

.contAbout{
    margin-top: 100px;
}
.textAbout{
    color: #EEEEEE;
}
.titleAbout{
    font-size: 3rem;
}

.proyectos{
    margin-top: 150px;
}

.conContactos{
    margin-top: 50px;
}
.conContactos button{
    border-radius: 9999px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;   
}

.btnLinkedin{
 background-color:#0a66c2;
 color: #FFFFFF;
}
.btnContacto{
    background-color: #000000;
    color:#FFFFFF ;
}
.btnGitHub{
    background-color: #1f2328;
    color: #FFFFFF;
}



.cardProyectos{
    background-color: #393E46;
    margin-bottom: 40px;
}


.cardProyectos:hover {
    transform: scale(1.10); /* Puedes ajustar el valor según tus preferencias */
    transition: transform 0.3s ease; /* Puedes ajustar la duración y la función de temporización según tus preferencias */
    box-shadow: 0 4px 8px #FFD369;
  }

.titleCardProyect{
    color: #EEEEEE;
}
.textCardProyect{
    color: #EEEEEE;
}

.linksCardProyect{
    text-decoration: none;
    color: #000000;
}

.skills{
    margin-top: 150px;
}

.cardSkills{
    background-color: #393E46;
    transition: background-color 0.3s ease;
    height: 230px;
    
}

.cardSkillsFront:hover {
    transform: scale(1.10); /* Puedes ajustar el valor según tus preferencias */
    transition: transform 0.3s ease; /* Puedes ajustar la duración y la función de temporización según tus preferencias */
    background-color: #3388cc;
    
}
.cardSkillsBack:hover {
    transform: scale(1.10); /* Puedes ajustar el valor según tus preferencias */
    transition: transform 0.3s ease; /* Puedes ajustar la duración y la función de temporización según tus preferencias */
    background-color: rgb(131, 248, 161);
    
}
  .logoFrontent{
    background-color: #0a66c2;
    width: 50px;
    padding: 5px;
    height: 48px;
    
    border-radius: 50%;
  }
  .logoBackend{
    background-color: #0a66c2;
    width: 50px;
    padding: 5px;
    height: 48px;
    
    border-radius: 50%;
    background-color: rgb(111 238 141);
  }
  .logoTool{
    background-color: #0a66c2;
    width: 50px;
    padding: 5px;
    height: 48px;
    
    border-radius: 50%;
    background-color: rgb(111 238 141);
  }



.textCardProyect p{
    border-style:ridge;
    border-width: 1px;
    border-radius: 0.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 10px;
    margin-right: 10px;
    border-color: #FFFFFF;
    
}

.contacto{
    margin-top: 150px;
}
.contcamposContactos{
    color: #EEEEEE;
    
}

.logoWhatsapp{
    color: #25d366;
   
}
.logoEmail{
    color: #c71610
}

.logoLinkedin{
    color: #0a66c2;
    padding-bottom: 2px;
}


